body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background: #333;
    color: white;
    padding: 15px;
    position: relative;

    display: flex;
    align-items: center;   /* 🔥 CANH GIỮA DỌC */
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.banner {
    width: 100%;
    max-width: 600px;
}

.menu-icon {
    position: absolute;
    right: 15px;

    top: 50%;
    transform: translateY(-50%);

    font-size: 26px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s ease;
}

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #333;

    display: flex;              /* QUAN TRỌNG */
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition: 
        opacity 0.3s ease,
        transform 0.3s ease;
}

.menu a {
    flex: 1;                     /* chia đều 3 phần */
    text-align: center;
    padding: 15px 0;
    color: white;
    text-decoration: none;
    border-right: 1px solid #555;
}

.menu a:last-child {
    border-right: none;
}


.menu.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


.menu-icon.open {
    transform: translateY(-50%) rotate(90deg);
}
/* =========================
   MEME GRID - CHUNG
   ========================= */

#memeGrid {
    display: grid;
    gap: 12px;
}

.meme-card {
    background: #111;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}

.meme-card img {
    width: 100%;
    border-radius: 8px;
}

.meme-card button {
    margin-top: 6px;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    background: #ff4757;
    color: white;
    cursor: pointer;
}

.meme-card button:hover {
    opacity: 0.8;
}

#prevPage,
#nextPage {
    display: inline-block !important;
    margin: 5px;
    padding: 8px 14px;
    background: #ff4757;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#pageInfo {
    color: white;
    font-weight: bold;
}




